<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Libs -->
    <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/libs/fontawesome.min.css">

    <!-- Datetimepicker styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <link href="/static/css/libs/select2.min.css" rel="stylesheet" />
    <link href="/static/css/libs/select2-bootstrap4.min.css" rel="stylesheet" />

    <!-- App -->
    <link rel="stylesheet" href="/static/css/app.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
</head>

<body class="{{page_type}}">
<!-- HEADER -->
{% include 'common/header.html' %}
<!-- /HEADER -->

<div class="content container pt-4 pb-4">
    {% block messages %}
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {%- for msg in errors %}
                {# alert-error changed to alert-danger in bootstrap 3, mapping is for backwards compatibility #}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ msg }}
                </div>
            {% endfor -%}
        {% endif %}
        {% endwith %}
    {% endblock %}

    {% block content %}{% endblock %}
</div>

<!-- LIBS -->
<script src="/static/js/libs/jquery-2.2.2.min.js"></script>
<script src="/static/js/libs/tether.min.js"></script><!-- Tether for Bootstrap -->
<script src="/static/js/libs/popper.min.js"></script><!-- Popper for Bootstrap -->
<script src="/static/js/libs/bootstrap.min.js"></script>
<script src="/static/js/libs/moment-with-locales.min.js"></script>

<!-- Datetimepicker lib -->
<script src="/static/js/libs/bootstrap-datepicker.min.js"></script>

<script src="/static/js/libs/select2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" src="//cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>
<script type="text/javascript src="//cdn.datatables.net/plug-ins/1.10.22/sorting/natural.js"></script>

<script src="/static/js/app.js"></script>

</body>
</html>
