{% extends "common/index.html" %} 
{% set active_page = "synchronizations" %}
{% block content %}
<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-header">
            Synchronization
        </div>
        <div class="card-body">
            <h4 class="card-title">Run synchronization</h4>
            {% if not current_user.date_last_sync %}
				<p class="card-text">You never synchronized your worklogs.</p>
            {% elif current_user.get_days_from_sync() == 0 %}
                <p class="card-text">You sync worklogs less than a day ago.</p>
            {% else %}
                <p class="card-text">You sync worklogs {{current_user.get_days_from_sync()}} days ago.</p>
            {% endif %}
            <a href="/sync" class="btn btn-primary">Synchronize now</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            {% if incompleted_synchronizations %}
            <div class="alert alert-warning">
                <p class="font-weight-bold">
                    Take a look at yellow rows.
                    These rows are invalid synchronizations that need to be completed or deleted.
                </p>
            </div>
            {% endif %}
            {% if synchronizations %}                
            <table class="table table-bordered table-hover" data-order="[[ 1, &quot;asc&quot; ]]">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Source</th>
                        <th>Target</th>
                        <th>Started From</th>
                        <th>Worklogs</th>
                        <th>Is Completed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in synchronizations %}
                    <tr class="
                        {{ 'text-warning' if not s.is_completed and not s.is_cancelled else '' }}
                        {{ 'text-success' if s.is_completed and not s.is_cancelled else '' }}
                    ">
                        <th scope="row">{{loop.index}}</th>
                        <td>{{local_time(s.date_created)}}</td>
                        <td>{{s.source.name}}</td>
                        <td>{{s.target.name}}</td>
                        <td>{{local_time(s.date_started_from)}}</td>
                        <td>{{s.worklogs|length}}</td>
                        <td>
                            {% if s.is_completed %}
                                <i class="far fa-check-circle"></i>
                            {% else %}
                                <i class="far fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary" href="/validate/{{s.id}}" target="_blank">
                                <i class="fa fa-external-link-alt"></i>
                            </a>
                            <a class="btn btn-outline-danger" href="/synchronizations/delete/{{s.get_id()}}?next={{request.path}}">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>     
            {% else %}
                <p class="card-text">You have never synchronized your time.</p>
            {% endif %}
        </div>
    </div>
    <!-- <a class="btn btn-outline-primary mt-4" href="/worklog/add">Add a new one</a> -->
</div>
{% endblock %}