{% extends "common/index.html" %}
{% set active_page = "worklogs" %}
{% block content %}
<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-header">
            Worklogs
        </div>
        <div class="card-body">
            {% if worklogs %}
            <div class="alert alert-info"">The red ones will not be synchronized</div>         
            <table class=" table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Comment</th>
                        <th>Started</th>
                        <th>Stopped</th>
                        <th>Duration</th>
                        <th>Issue ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for worklog in worklogs %}
                    <tr class="{% if worklog.is_valid %} table-success {% else %} table-danger {% endif %}">
                        <th scope="row">{{loop.index}}</th>
                        <td>{{worklog.comment}}
                            {% if not worklog.is_valid %}
                                <div>Error: Issue id is not present in Jira</div>
                            {% endif %}
                        </td>
                        <td>{{local_time(worklog.date_started)}}</td>
                        <td>{{local_time(worklog.date_stopped)}}</td>
                        <td>{{seconds_to_time(worklog.duration)}}</td>
                        <td>{{worklog.issue_id}}</td>
                        <td class="text-center">
                            <a href="/worklogs/edit/{{worklog.get_id()}}?next={{request.path}}"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
                            <a href="/worklogs/delete/{{worklog.get_id()}}?next={{request.path}}"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>
                        </td>
                    </tr>

                    {% if worklog.children %}
                        {% for child in worklog.children %}
                        <!-- <tr class="">
                            <th scope="row"></th>
                            <td></td>
                            <td>{{local_time(child.date_started)}}</td>
                            <td>{{local_time(child.date_stopped)}}</td>
                            <td>{{seconds_to_time(child.duration)}}</td>
                            <td>{{child.issue_id}}</td>
                            <td class="text-center"></td>
                        </tr> -->
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"><b>Total to synchronize</b></td>
                        <td colspan="0">
                            <b>
                                {{seconds_to_hours(total_synchronized)}}h
                            </b>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4"><b>Total to skip</b></td>
                        <td colspan="0">
                            <b>
                                {{seconds_to_hours(total_skipped)}}h
                            </b>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
                </table>
                {% else %}
                <p class="card-text">You have no new worklogs to synchronize.</p>
                {% endif %}
            </div>
        </div>
        <a class="btn btn-outline-secondary mt-4" href="/cancel/{{sync_id}}">Cancel synchronization</a>
        <a class="btn btn-outline-primary mt-4" href="/export/{{sync_id}}">Save worklogs</a>
    </div>
    {% endblock %}